hr {
	border-color: #bfbfbf;
}

.advert {
	margin-top: 30px;
}

.container {
	margin-top: 30px;
}

.results {
	font-size: 16px;
}

.song-table {
	margin-left: 25%;
}

.song {
	margin-top: 200px;
}

.navbar-header {
	margin-top: 5px;
}

.nav-pills {
	font-weight: bold;
}

.container-fluid {
	display: block;
    margin: auto;
    width: 940px;
}

.home-title {
	font-family: 'Ubuntu', sans-serif;
	color: #073b8e;
	text-align: center;
	font-size: 40px;
	margin-bottom: 20px;
}